﻿@model Web.ViewModels.ProductSaveViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                @if (Model == null || string.IsNullOrEmpty(Model.Photo))
                {
                    <input type="file" name="file" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="Photo" />
                    <input type="hidden" asp-for="PhotoUrl" />
                    <img width="300" height="300" src="@Model.PhotoUrl" alt="" />
                }
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @if (Model.ProductMustBeConfirmed)
            {
            <div class="form-group">
                <label asp-for="IsPriceConfirmed" class="control-label"></label>
                <input asp-for="IsPriceConfirmed" class="form-control" />
                <span asp-validation-for="IsPriceConfirmed" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
